html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: "Athiti", sans-serif;
    margin: 0;
    background-image: url("../images/currency-converter.png");
    background-size: 950px;
}